In [1]:
# Get latest check-out from records.json
import os
import json
import pandas as pd
from datetime import datetime

# Define path of parameters
records_json = os.path.join(os.getcwd(), 'data', 'records.json')

def get_latest_record(records_json):

    with open(records_json) as f:
        records = json.load(f)

    last_cum_dict = records[-1]['cum']

    last_cum_df = pd.DataFrame(last_cum_dict)

    return last_cum_df

clean_df = get_latest_record(records_json)

clean_df

,Timestamp_1,Column_No,Check-in date,Check-out date,City of birth,City of residence,Country of issue,Country of residence,Date of birth,First name,Last name,Nationality,Passport (or ID) number
0,9/27/2023 22:44:34,1,14-09-2023,29-09-2023,dsd,sc,Australia,Australia,01-09-2023,Test,,Angolan,adad
1,9/29/2023 12:37:34,2,04-10-2023,10-10-2023,Poland Kielce,Warsaw,Poland,Poland,16-06-1947,Baczkowski,,Polish,CFi 194276
2,9/29/2023 12:37:34,3,04-10-2023,10-10-2023,Poland Gliwice,Warsaw,Poland,Poland,04-10-1947,Boguszewska-Baczkowska,,Polish,CFb 269735
3,10/4/2023 23:31:51,2,11-10-2023,15-10-2023,SELANGOR,London,United Kingdom,United Kingdom,28-07-1989,Chee Huan,Lee,Malaysian,A55269113
4,10/4/2023 23:31:51,3,11-10-2023,15-10-2023,Vasteras,London,Sweden,United Kingdom,13-10-1988,Lars Dennis,Ramstedt,Swedish,878789091
5,10/6/2023 3:20:18,2,15-10-2023,17-10-2023,"St. Charles, Missouri","Jacksonville, Florida",United States,United States,25-06-1975,Amber,Burgbacher,American,A30117927
6,10/6/2023 3:20:18,3,15-10-2023,17-10-2023,"Memphis, Tennessee","Jacksonville, Florida",United States,United States,07-12-1977,Chad,Burgbacher,American,664791199
7,10/9/2023 21:47:23,1,22-10-2023,24-10-2023,Valencia,Valencia,Spain,Spain,14-01-1986,Ana,Baeza,Spanish,29207714z
8,10/13/2023 13:19:49,3,26-10-2023,31-10-2023,Bourges,Mondreville,France,France,16-03-2000,Dawson,Roger,French,150618100103
9,10/13/2023 13:19:49,2,26-10-2023,31-10-2023,Courcouronnes,Bondoufle,France,France,14-06-2000,Raphaella,Teixeira,French,141291200436
10,10/7/2023 12:20:10,1,02-11-2023,02-12-2023,Krasnoyarsk,Dubai,Russian Federation,United Arab Emirates,21-11-1999,Mikhail,Kirillov,Russian,760583275
11,10/16/2023 10:54:21,2,02-12-2023,11-12-2023,"Düsseldorf, Germany",Lisbon,Germany,Portugal,30-04-1987,Simon,Spilke,German,L719W543M
12,10/16/2023 10:54:21,3,02-12-2023,11-12-2023,Wien,Rheinfelden,Austria,Switzerland,07-11-2023,Nina,Riemer,Austrian,11688303
13,12/15/2023 20:42:55,2,16-12-2023,23-12-2023,Radyvyliv,Radyvyliv,Ukraine,Ukraine,03-02-1989,Nelia,Tsyhypalo,Ukrainian,FM731928
14,12/15/2023 20:42:55,3,16-12-2023,23-12-2023,Dnipro,Dnipro,Ukraine,Ukraine,30-01-1988,Volodymyr,Liutkin,Ukrainian,FZ209075
15,12/23/2023 15:33:29,2,26-12-2023,28-12-2023,"Lakewood, NJ","Vienna, Md",United States,United States,31-07-1957,Patricia,Johnson,American,543324682
16,12/23/2023 15:33:29,3,26-12-2023,28-12-2023,"Cambridge, md","Cambridge, md",United States,United States,09-09-1955,Edward,Robbins,American,589703588
17,10/22/2023 17:29:08,2,28-12-2023,04-01-2024,Uzhorod,Hertogenbosch,Hungary,Netherlands,12-08-1995,Istvan,Albert,Hungarian,315139UA
18,10/22/2023 17:29:08,3,28-12-2023,04-01-2024,Uzshorod,London,Hungary,United Kingdom,11-05-1991,Hanna,Zjabrova,Hungarian,BS3452024
19,None,None,06-01-2024,13-01-2024,Bologna,SINTRA,Italy,Portugal,04-04-2003,Luca,Comaggi,Italian,CA54149EL
20,None,None,14-01-2024,10-02-2024,York,Vancouver,Canada,Canada,29-01-1976,Balind,Sieber,Canadian,AK347078
21,None,None,14-01-2024,10-02-2024,Hong kong,Vancouver,Canada,Canada,01-02-1984,Kaphryn,Lee,Canadian,AK313533

In [4]:
def filter_df_on_checkout_date(clean_df, today=None):

    # Get today's date
    if not today:
        today = datetime.today().date()
        today = today.strftime('%d-%m-%Y')

    # Filter the DataFrame for check-in dates after today
    filtered_df = clean_df[pd.to_datetime(clean_df['Check-out date'], dayfirst=True) == today]

    return filtered_df

filtered_df = filter_df_on_checkout_date(clean_df, '10-02-2024')

filtered_df

Empty DataFrame
Columns: [Timestamp_1, Column_No, Check-in date, Check-out date, City of birth, City of residence, Country of issue, Country of residence, Date of birth, First name, Last name, Nationality, Passport (or ID) number]
Index: []

In [13]:
# Check type of clean_df['Check-out date'].iloc[20]
# type(clean_df['Check-out date'].iloc[18])
clean_df[clean_df['Check-out date'] == '10-02-2024']

pd.to_datetime(clean_df['Check-out date'], dayfirst=True)

0    2023-09-29
1    2023-10-10
2    2023-10-10
3    2023-10-15
4    2023-10-15
5    2023-10-17
6    2023-10-17
7    2023-10-24
8    2023-10-31
9    2023-10-31
10   2023-12-02
11   2023-12-11
12   2023-12-11
13   2023-12-23
14   2023-12-23
15   2023-12-28
16   2023-12-28
17   2024-01-04
18   2024-01-04
19   2024-01-13
20   2024-02-10
21   2024-02-10
Name: Check-out date, dtype: datetime64[ns]