In [16]:
from scripts.google_api import get_form
from scripts.data_processing import clean_sheet

# Get the form responses
get_form()
clean_sheet()

Please visit this URL to authorize this application: https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=997149058913-gs5122uc033sk42ohidnjs9pvfdhjsik.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A59979%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fspreadsheets.readonly&state=rknyODBdaxJNKwE0Q5OhmskLute2vs&access_type=offline

,Timestamp_1,Column_No,Check-in date,Check-out date,City of birth,City of residence,Country of issue,Country of residence,Date of birth,First name,Last name,Nationality,Passport (or ID) number
0,3/6/2024 13:37:23,3,22-02-2019,21-02-2029,Cahors,Toulouse,France,France,20-02-1997,Martin,Silva,French,19AP24609
1,9/27/2023 22:44:34,1,14-09-2023,29-09-2023,dsd,sc,Australia,Australia,01-09-2023,Test,,Angolan,adad
2,3/6/2024 13:37:23,2,21-09-2023,20-09-2033,Toulouse,Toulouse,France,France,11-12-2002,Lucie,Hazan,French,23Ik81395
3,9/29/2023 12:37:34,3,04-10-2023,10-10-2023,Poland Gliwice,Warsaw,Poland,Poland,04-10-1947,Boguszewska-Baczkowska,,Polish,CFb 269735
4,9/29/2023 12:37:34,2,04-10-2023,10-10-2023,Poland Kielce,Warsaw,Poland,Poland,16-06-1947,Baczkowski,,Polish,CFi 194276
5,10/4/2023 23:31:51,2,11-10-2023,15-10-2023,SELANGOR,London,United Kingdom,United Kingdom,28-07-1989,Chee Huan,Lee,Malaysian,A55269113
6,10/4/2023 23:31:51,3,11-10-2023,15-10-2023,Vasteras,London,Sweden,United Kingdom,13-10-1988,Lars Dennis,Ramstedt,Swedish,878789091
7,10/6/2023 3:20:18,2,15-10-2023,17-10-2023,"St. Charles, Missouri","Jacksonville, Florida",United States,United States,25-06-1975,Amber,Burgbacher,American,A30117927
8,10/6/2023 3:20:18,3,15-10-2023,17-10-2023,"Memphis, Tennessee","Jacksonville, Florida",United States,United States,07-12-1977,Chad,Burgbacher,American,664791199
9,9/30/2023 7:32:43,2,19-10-2023,22-10-2023,Queens,Alexandria,United States,United States,13-03-1998,Zion,Khanna,American,T69671963
10,9/30/2023 7:32:43,3,19-10-2023,22-10-2023,Arlington,Alexandria,United States,United States,09-09-1999,Jayla,Lewis,American,B66147064
11,10/20/2023 12:44:52,1,22-10-2023,24-10-2023,Valencia,Valencia,Spain,Spain,14-01-1986,Ana,Baeza,Spanish,29207714z
12,10/9/2023 21:47:23,1,22-10-2023,24-10-2013,Valencia,Valencia,Spain,Spain,14-01-1986,Ana,Baeza,Spanish,29207714z
13,10/23/2023 14:33:34,1,24-10-2023,26-10-2023,Lisboa,Lisboa,Portugal,Portugal,05-08-1974,Francisco,Silva,Portuguese,10313555
14,10/13/2023 13:19:49,2,26-10-2023,31-10-2023,Courcouronnes,Bondoufle,France,France,14-06-2000,Raphaella,Teixeira,French,141291200436
15,10/13/2023 13:19:49,3,26-10-2023,31-10-2023,Bourges,Mondreville,France,France,16-03-2000,Dawson,Roger,French,150618100103
16,10/7/2023 12:20:10,1,02-11-2023,02-12-2023,Krasnoyarsk,Dubai,Russian Federation,United Arab Emirates,21-11-1999,Mikhail,Kirillov,Russian,760583275
17,10/16/2023 10:54:21,2,02-12-2023,11-12-2023,"Düsseldorf, Germany",Lisbon,Germany,Portugal,30-04-1987,Simon,Spilke,German,L719W543M
18,10/16/2023 10:54:21,3,02-12-2023,11-12-2023,Wien,Rheinfelden,Austria,Switzerland,07-11-2023,Nina,Riemer,Austrian,11688303
19,12/15/2023 20:42:55,2,16-12-2023,23-12-2023,Radyvyliv,Radyvyliv,Ukraine,Ukraine,03-02-1989,Nelia,Tsyhypalo,Ukrainian,FM731928
20,12/15/2023 20:42:55,3,16-12-2023,23-12-2023,Dnipro,Dnipro,Ukraine,Ukraine,30-01-1988,Volodymyr,Liutkin,Ukrainian,FZ209075
21,12/23/2023 15:33:29,3,26-12-2023,28-12-2023,"Cambridge, md","Cambridge, md",United States,United States,09-09-1955,Edward,Robbins,American,589703588
22,12/23/2023 15:33:29,2,26-12-2023,28-12-2023,"Lakewood, NJ","Vienna, Md",United States,United States,31-07-1957,Patricia,Johnson,American,543324682
23,10/22/2023 17:29:08,3,28-12-2023,04-01-2024,Uzshorod,London,Hungary,United Kingdom,11-05-1991,Hanna,Zjabrova,Hungarian,BS3452024
24,10/22/2023 17:29:08,2,28-12-2023,04-01-2024,Uzhorod,Hertogenbosch,Hungary,Netherlands,12-08-1995,Istvan,Albert,Hungarian,315139UA
25,1/2/2024 22:05:33,1,06-01-2024,13-01-2024,Bologna,SINTRA,Italy,Portugal,04-04-2003,Luca,Comaggi,Italian,CA54149EL
26,1/10/2024 16:58:00,3,14-01-2024,10-02-2024,Hong kong,Vancouver,Canada,Canada,01-02-1984,Kaphryn,Lee,Canadian,AK313533
27,1/10/2024 16:58:00,2,14-01-2024,10-02-2024,York,Vancouver,Canada,Canada,29-01-1976,Balind,Sieber,Canadian,AK347078
28,3/28/2024 7:09:06,2,29-03-2024,01-04-2024,Pelhřimov,Praha,Portugal,Czech Republic,16-04-1985,Olga,Kučerová,Czech,47515859
29,3/28/2024 7:09:06,3,29-03-2024,01-04-2024,Rakovník,Praha,Portugal,Czech Republic,04-08-1975,Tomáš,Baldýnský,Czech,207867301
30,3/10/2024 13:57:31,2,13-04-2024,20-04-2024,Wuppertal,Wuppertal,Germany,Germany,14-04-1989,Timo,Funke,German,L749987HR
31,3/10/2024 13:57:31,3,13-04-2024,20-04-2024,Versmold,Wuppertal,Germany,Germany,08-05-1989,Lisa,Wittwer,German,L74973392
32,2/29/2024 1:06:29,2,24-04-2024,27-04-2024,Cleveland,Apple Valley,United States,United States,01-12-1982,Jaclyn,Caraballo,American,572798514
33,2/29/2024 1:06:29,3,24-04-2024,27-04-2024,Red Wing,Apple Valley,United States,United States,21-09-1982,David,Swisher,American,566046505
34,3/13/2024 21:55:53,1,11-06-2024,14-06-2024,Pau,Clichy,France,France,24-12-1985,Ida,EMPAIN,French,EJD6DLZ32

In [21]:
# Get the form responses
get_form()
clean_df = clean_sheet()

def filter_df_on_name(clean_df, first_name=None, last_name=None):

    # Filter the DataFrame based on combinations of first and last name
    if first_name and last_name:
        filtered_df = clean_df[(clean_df['First name'] == first_name) & (clean_df['Last name'] == last_name)]
    elif first_name:
        filtered_df = clean_df[clean_df['First name'] == first_name]
    elif last_name:
        filtered_df = clean_df[clean_df['Last name'] == last_name]
    else:
        filtered_df = clean_df

    return filtered_df

# filter_df_on_name(clean_df, first_name='Lucie', last_name=None)
# filter_df_on_name(clean_df, first_name=None, last_name='Hazan')
# filter_df_on_name(clean_df, first_name='Lucie', last_name='Hazan')
filter_df_on_name(clean_df, first_name='Lucie', last_name='Hazan')

,Timestamp_1,Column_No,Check-in date,Check-out date,City of birth,City of residence,Country of issue,Country of residence,Date of birth,First name,Last name,Nationality,Passport (or ID) number
2,3/6/2024 13:37:23,2,21-09-2023,20-09-2033,Toulouse,Toulouse,France,France,11-12-2002,Lucie,Hazan,French,23Ik81395

In [3]:
from scripts.data_processing import clean_sheet

from __future__ import print_function
import os.path
import pandas as pd
from datetime import datetime
import base64
import re
import json
import pickle
import boto3
from io import StringIO

from google.auth.transport.requests import Request
from google.oauth2.credentials import Credentials
from google_auth_oauthlib.flow import InstalledAppFlow
from google.auth.exceptions import RefreshError
from googleapiclient.discovery import build
from googleapiclient.errors import HttpError
from google.oauth2 import service_account
import googleapiclient.discovery

from scripts.aws import *

# show all rows in pandas
pd.set_option('display.max_rows', None)

###--- SEF-RELATED FUNCTIONS ---###

# If modifying these scopes, delete the file token.json.
SCOPES_SHEET = ['https://www.googleapis.com/auth/spreadsheets.readonly']

# The ID and range of a sample spreadsheet.
SAMPLE_SPREADSHEET_ID = '1XNzUH6ydpDt0apgL-a7wuxgxNgRRKMsNwKPpJ74ejbk'
SAMPLE_RANGE_NAME = 'Form Responses 1!A1:BP10000'


def get_form(
        creds_name='credentials_sheet.json',
        sheet_name='form_responses.csv'
        ):

    # Build the path to the credentials file in S3
    creds_path = f"s3://{bucket_name}/{creds_name}"

    # Check if the credentials file exists in S3
    if not object_exists(bucket_name, creds_name):
        raise Exception(f"{creds_name} does not exist in S3 bucket.")

    # Load service account credentials directly from S3
    creds_data = download_object(bucket_name, creds_name)
    creds = service_account.Credentials.from_service_account_info(
        json.loads(creds_data), scopes=SCOPES_SHEET
    )

    # Once authenticated, get the sheet data
    try:
        service = build('sheets', 'v4', credentials=creds)

        # Call the Sheets API
        sheet = service.spreadsheets()
        result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
                                    range=SAMPLE_RANGE_NAME).execute()
        values = result.get('values', [])

        if not values:
            print('No data found.')
            return None

        ### Process the data ###
        # Use the first row as column headers
        columns = values[0]

        # Make column names unique by appending a suffix to duplicates
        unique_columns = []
        seen_columns = {}
        for col in columns:
            if col in seen_columns:
                seen_columns[col] += 1
            else:
                seen_columns[col] = 1

            col = f"{col}_{seen_columns[col]}"    
            unique_columns.append(col)

        data = values[1:]  # Skip the first row (headers)

        # Create a DataFrame with unique column names
        df = pd.DataFrame(data, columns=unique_columns)
        
        # Convert DataFrame to CSV string
        csv_buffer = StringIO()
        df.to_csv(csv_buffer)

        # Upload CSV to S3
        s3.put_object(Bucket=bucket_name, Key=sheet_name, Body=csv_buffer.getvalue())

        return f"S3://{bucket_name}/{sheet_name}"

    except HttpError as err:
        print(err)
        return None

# Get form responses
sheet_path = get_form()
clean_df = clean_sheet()

clean_df

,Timestamp_1,Column_No,Check-in date,Check-out date,City of birth,City of residence,Country of issue,Country of residence,Date of birth,First name,Last name,Nationality,Passport (or ID) number
0,3/6/2024 13:37:23,3,22-02-2019,21-02-2029,Cahors,Toulouse,France,France,20-02-1997,Martin,Silva,French,19AP24609
1,9/27/2023 22:44:34,1,14-09-2023,29-09-2023,dsd,sc,Australia,Australia,01-09-2023,Test,,Angolan,adad
2,3/6/2024 13:37:23,2,21-09-2023,20-09-2033,Toulouse,Toulouse,France,France,11-12-2002,Lucie,Hazan,French,23Ik81395
3,9/29/2023 12:37:34,3,04-10-2023,10-10-2023,Poland Gliwice,Warsaw,Poland,Poland,04-10-1947,Boguszewska-Baczkowska,,Polish,CFb 269735
4,9/29/2023 12:37:34,2,04-10-2023,10-10-2023,Poland Kielce,Warsaw,Poland,Poland,16-06-1947,Baczkowski,,Polish,CFi 194276
5,10/4/2023 23:31:51,2,11-10-2023,15-10-2023,SELANGOR,London,United Kingdom,United Kingdom,28-07-1989,Chee Huan,Lee,Malaysian,A55269113
6,10/4/2023 23:31:51,3,11-10-2023,15-10-2023,Vasteras,London,Sweden,United Kingdom,13-10-1988,Lars Dennis,Ramstedt,Swedish,878789091
7,10/6/2023 3:20:18,3,15-10-2023,17-10-2023,"Memphis, Tennessee","Jacksonville, Florida",United States,United States,07-12-1977,Chad,Burgbacher,American,664791199
8,10/6/2023 3:20:18,2,15-10-2023,17-10-2023,"St. Charles, Missouri","Jacksonville, Florida",United States,United States,25-06-1975,Amber,Burgbacher,American,A30117927
9,9/30/2023 7:32:43,3,19-10-2023,22-10-2023,Arlington,Alexandria,United States,United States,09-09-1999,Jayla,Lewis,American,B66147064
10,9/30/2023 7:32:43,2,19-10-2023,22-10-2023,Queens,Alexandria,United States,United States,13-03-1998,Zion,Khanna,American,T69671963
11,10/20/2023 12:44:52,1,22-10-2023,24-10-2023,Valencia,Valencia,Spain,Spain,14-01-1986,Ana,Baeza,Spanish,29207714z
12,10/9/2023 21:47:23,1,22-10-2023,24-10-2013,Valencia,Valencia,Spain,Spain,14-01-1986,Ana,Baeza,Spanish,29207714z
13,10/23/2023 14:33:34,1,24-10-2023,26-10-2023,Lisboa,Lisboa,Portugal,Portugal,05-08-1974,Francisco,Silva,Portuguese,10313555
14,10/13/2023 13:19:49,3,26-10-2023,31-10-2023,Bourges,Mondreville,France,France,16-03-2000,Dawson,Roger,French,150618100103
15,10/13/2023 13:19:49,2,26-10-2023,31-10-2023,Courcouronnes,Bondoufle,France,France,14-06-2000,Raphaella,Teixeira,French,141291200436
16,10/7/2023 12:20:10,1,02-11-2023,02-12-2023,Krasnoyarsk,Dubai,Russian Federation,United Arab Emirates,21-11-1999,Mikhail,Kirillov,Russian,760583275
17,10/16/2023 10:54:21,3,02-12-2023,11-12-2023,Wien,Rheinfelden,Austria,Switzerland,07-11-2023,Nina,Riemer,Austrian,11688303
18,10/16/2023 10:54:21,2,02-12-2023,11-12-2023,"Düsseldorf, Germany",Lisbon,Germany,Portugal,30-04-1987,Simon,Spilke,German,L719W543M
19,12/15/2023 20:42:55,2,16-12-2023,23-12-2023,Radyvyliv,Radyvyliv,Ukraine,Ukraine,03-02-1989,Nelia,Tsyhypalo,Ukrainian,FM731928
20,12/15/2023 20:42:55,3,16-12-2023,23-12-2023,Dnipro,Dnipro,Ukraine,Ukraine,30-01-1988,Volodymyr,Liutkin,Ukrainian,FZ209075
21,12/23/2023 15:33:29,2,26-12-2023,28-12-2023,"Lakewood, NJ","Vienna, Md",United States,United States,31-07-1957,Patricia,Johnson,American,543324682
22,12/23/2023 15:33:29,3,26-12-2023,28-12-2023,"Cambridge, md","Cambridge, md",United States,United States,09-09-1955,Edward,Robbins,American,589703588
23,10/22/2023 17:29:08,3,28-12-2023,04-01-2024,Uzshorod,London,Hungary,United Kingdom,11-05-1991,Hanna,Zjabrova,Hungarian,BS3452024
24,10/22/2023 17:29:08,2,28-12-2023,04-01-2024,Uzhorod,Hertogenbosch,Hungary,Netherlands,12-08-1995,Istvan,Albert,Hungarian,315139UA
25,1/2/2024 22:05:33,1,06-01-2024,13-01-2024,Bologna,SINTRA,Italy,Portugal,04-04-2003,Luca,Comaggi,Italian,CA54149EL
26,1/10/2024 16:58:00,2,14-01-2024,10-02-2024,York,Vancouver,Canada,Canada,29-01-1976,Balind,Sieber,Canadian,AK347078
27,1/10/2024 16:58:00,3,14-01-2024,10-02-2024,Hong kong,Vancouver,Canada,Canada,01-02-1984,Kaphryn,Lee,Canadian,AK313533
28,3/28/2024 7:09:06,3,29-03-2024,01-04-2024,Rakovník,Praha,Portugal,Czech Republic,04-08-1975,Tomáš,Baldýnský,Czech,207867301
29,3/28/2024 7:09:06,2,29-03-2024,01-04-2024,Pelhřimov,Praha,Portugal,Czech Republic,16-04-1985,Olga,Kučerová,Czech,47515859
30,3/10/2024 13:57:31,3,13-04-2024,20-04-2024,Versmold,Wuppertal,Germany,Germany,08-05-1989,Lisa,Wittwer,German,L74973392
31,3/10/2024 13:57:31,2,13-04-2024,20-04-2024,Wuppertal,Wuppertal,Germany,Germany,14-04-1989,Timo,Funke,German,L749987HR
32,4/19/2024 16:42:47,3,20-04-2024,23-04-2024,Kettering,Corby,United Kingdom,United Kingdom,17-12-1998,Lequisha,Coles,British,549070867
33,4/19/2024 16:42:47,2,20-04-2024,23-04-2024,Kettering,Corby,United Kingdom,United Kingdom,21-04-1998,Saffron,Baillie,British,130264111
34,2/29/2024 1:06:29,2,24-04-2024,27-04-2024,Cleveland,Apple Valley,United States,United States,01-12-1982,Jaclyn,Caraballo,American,572798514
35,2/29/2024 1:06:29,3,24-04-2024,27-04-2024,Red Wing,Apple Valley,United States,United States,21-09-1982,David,Swisher,American,566046505
36,4/27/2024 18:17:53,2,28-04-2024,01-05-2024,Aschaffenburg,Aschaffenburg,Germany,Germany,24-12-1997,Christian,Hock,German,L349NRFLR
37,4/27/2024 18:17:53,3,28-04-2024,01-05-2023,Aschaffenburg,Aschaffenburg,Germany,Germany,28-08-2000,Brandy,Bogner,German,L3495MW9Z
38,4/21/2024 18:30:58,2,01-05-2024,05-05-2024,Le Mans,Changé,France,France,21-09-1970,Christelle,Tessier,French,1904723511777
39,4/21/2024 18:30:58,3,01-05-2024,05-05-2024,Le Mans,Le Mans,France,France,17-06-1968,Bruno,Goethal,French,1903723526994
40,4/28/2024 16:30:34,2,06-05-2024,11-05-2024,Amilly,Orléans,France,France,23-04-1998,Céline,Kalawski,French,110345100556
41,4/28/2024 16:30:34,3,06-05-2024,11-05-2024,Amilly,Orléans,France,France,11-07-2000,Thomas,Kalawski,French,140845201279
42,5/9/2024 20:31:20,3,11-05-2024,14-05-2024,Moscow,Milton,Canada,Canada,11-01-1965,Ekaterina,Kozlova,Canadian,OA099473
43,5/9/2024 20:31:20,2,11-05-2024,14-05-2024,Istra,Milton,Canada,Canada,15-11-1966,Oleg,Kozlov,Canadian,OA099471
44,4/6/2024 17:16:07,2,14-05-2024,17-05-2024,"Rotterdam, Netherlands",Victoria British Columbia,Canada,Canada,29-01-1958,Johannes,Baart,Canadian,HC349055
45,4/6/2024 17:16:07,3,14-05-2024,17-05-2024,"North Bay, Ontario","Victoria, British Columbia",Canada,Canada,17-11-1956,Wendy,Baart,Canadian,HC349057
46,5/15/2024 23:54:50,3,17-05-2024,19-05-2024,Parthenay,La Rochelle,France,France,01-04-1997,Romain,Morit,French,L2v8djm45
47,5/15/2024 23:54:50,2,17-05-2024,19-05-2024,Les sable d'olonne,Challans,France,France,25-01-1997,Malika,Logeais,French,180885250187
48,4/19/2024 17:47:50,3,19-05-2024,23-05-2024,Peine,Berlin,Germany,Germany,11-01-1994,Hanna,Denecke,German,L3GTCFYZV
49,4/19/2024 17:47:50,2,19-05-2024,23-05-2024,Braunschweig,Hannover,Germany,Germany,19-12-1993,Ann-Sophie,Osterode,German,CHW6PFP6L
50,4/26/2024 22:09:03,1,24-05-2024,26-05-2024,Minneapolis,Portland,United States,United States,02-12-1992,Kyle,Jensen,American,C612907
51,5/19/2024 9:07:45,3,27-05-2024,01-06-2024,s-Gravenhage,Spaubeek,Netherlands,Netherlands,30-07-1995,Shirley,Lam,Dutch,IM748C951
52,5/19/2024 9:07:45,2,27-05-2024,01-06-2024,Kerkrade,Spaubeek,Netherlands,Netherlands,03-12-1993,Dennis,Rompen,Dutch,IXH8BD3H6
53,5/29/2024 16:35:10,2,02-06-2024,05-06-2024,Lisburn,Wakefield,United Kingdom,United Kingdom,14-12-1989,Emma,Walker,British,544997531
54,5/29/2024 16:35:10,3,02-06-2024,05-06-2024,Burnley,Wakefield,United Kingdom,United Kingdom,30-12-1993,Paige,Rainford,British,121077952
55,3/13/2024 21:55:53,1,11-06-2024,14-06-2024,Pau,Clichy,France,France,24-12-1985,Ida,EMPAIN,French,EJD6DLZ32
56,6/14/2024 14:24:40,4,14-06-2024,16-06-2024,Luanda,Lyon,Angola,France,12-06-2001,Danila,Rosário,Angolan,N3031027
57,6/14/2024 14:24:40,5,14-06-2024,16-06-2024,Luanda,Braga,Angola,Portugal,27-07-2001,Kenia,Ferreira,Angolan,N2983065
58,6/14/2024 14:24:40,6,14-06-2024,16-06-2024,Porto,Braga,Portugal,Portugal,30-08-2023,Kayla,Ferreira,Portuguese,CE124746
59,5/18/2024 20:05:50,3,29-06-2024,06-07-2024,Saint-Quentin,Paris,France,France,16-01-2003,Elisa,CHEMIN,French,NCC2R4A16
60,5/18/2024 20:05:50,2,29-06-2024,06-07-2024,Paris,Paris,France,France,10-08-2000,Ernest,Jaenada,French,HJC0BX2L0
61,5/27/2024 23:40:47,2,07-07-2024,16-07-2024,Helmond,Venlo,Netherlands,Netherlands,04-07-1999,Anab,Ahmed,Dutch,NS5L1B179
62,5/27/2024 23:40:47,3,07-07-2024,16-07-2024,Helmond,Venlo,Netherlands,Netherlands,15-01-1997,Asha,Ahmed,Dutch,NWHBLH580